/*
Xindan
Mobile
RZ
2011-01
*/

@media handheld, only screen and (max-width: 480px) {
	
	body {
		padding: 0 15px 0;
		font-size: .8125em;
		-webkit-text-size-adjust: none;
	}
	
	p, li {
		line-height: 1.4;
		margin-bottom: 10px;
	}
	
	h1, h2, h3 {
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	#curtain, #top, #main-top, #main-bot {
		display: none;
	}
	
	#wrap {
		width: 100%;
	}
	
	#wrap, #top, #mid, #bot, #head, #world, #foot, #contact {
		background: none;
		margin: 0;
		padding: 0;
	}
	
	#foot {
		background: url(../images/line.gif) center top no-repeat;
		padding: 15px 0;
	}
	
	#foot .line {
		display: none;
	}
	
	#foot li {
		margin-bottom: 2px;
	}
	
	#foot li.more a:last-child {
		border-bottom: 1px dotted #999;
	}
	
	#logo, #nav {
		float: none;
		margin: 0 0 10px;
	}
	
	#logo {
		background: url(../images/logo2.gif) 0 0 no-repeat;
		margin: 0;
		width: 100%;
		height: 60px;
	}
	
	#nav li {
		margin: 0 8px 0 0;
	}
	
	#nav li.about {
		margin-right: 0;
	}
	
	#nav li a {
		background: none !important;
		width: auto !important;
		height: auto !important;
		text-indent: 0 !important;
		padding: 0;
		margin: 0;
		border-bottom: 1px dotted #999;
	}
	
	.home #nav li.home a,
	.research #nav li.research a,
	.pub #nav li.pub a,
	.gallery #nav li.gallery a,
	.about #nav li.about a {
		font-weight: bold;
		border-bottom: 0;
	}
	#content {
		padding-bottom: 10px;
	}
	#main-content {
		padding: 10px 0 0;
		background-color: white;
	}
	
	#spec {
		margin-bottom: 10px;
	}
	
	#spec p {
		height: auto;
		background: none;
		text-indent: 0;
	}
	
	#world h3 {
		padding: 10px 0;
		margin: 0;
	}
	
	#world li, #contact dl {
		float: none;
		width: 100%;
		margin: 0;
		clear: both;
		display: block;
	}

}
