/* Fonts
---------------------------------------- */

@import url("https://use.typekit.net/jui7tlx.css");

/* Normalize
---------------------------------------- */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

/* Elements
---------------------------------------- */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    background-color: #f5f5f7;
    color: #333;
}

body {
    font-family: "proxima-nova",
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 80px;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: inherit;
}

address, blockquote, dd, dl, fieldset,
form, iframe, ol, p, pre, table, ul {
    margin: 0 0 20px;
}

a {
    color: #900;
    text-decoration: none;
    transition: color .25s;
}

a:hover {
    border-bottom: 1px solid;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/* Misc
---------------------------------------- */

.site-header:before,
.site-footer:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.site-header:before {
    bottom: 0;
}

.site-footer:before {
    top: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.site-header .container,
.site-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.site-content {
    padding: 150px 0;
}

.content-header {
    position: absolute;
    left: 0;
    top: -5px;
    width: 320px;
}

.content-body {
    padding-left: 400px;
}

.site-content:before,
.site-content:after{
    content: "";
    display: table;
}

.site-content:after {
    clear: both;
}

.no-scroll {
    overflow: hidden;
}

/* Header
---------------------------------------- */

.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 80px;
    background: #fff;
}

.branding img {
    width: 148px;
}

.branding a:hover {
    border-bottom: 0;
}

.navigation {
    font-size: 17px;
    text-align: right;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    display: block;
    padding: 10px;
    color: inherit;
}

.navigation a:hover,
.navigation .current {
    border-bottom: 0;
    color: #900;
}

.navigation-checkbox,
.hamburger {
    display: none;
}

/* Footer
---------------------------------------- */

.site-footer {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    font-size: 16px;
    background: #fff;
}

.site-footer ul {
    padding: 0;
    margin: 0;
}

.site-footer li {
    list-style: none;
    display: inline-block;
}

.footer-meta li:not(:last-child):after {
    content: "\2022";
    padding-left: 6px;
    padding-right: 2px;
    font-size: 12px;
    color: #ccc;
}

.site-footer a {
    color: inherit;
}

.site-footer a:hover {
    border-bottom: 0;
    color: #900;
}

/* Home
---------------------------------------- */

.home .site-header,
.home .site-content,
.home .site-footer {
    background: transparent;
    color: #fff;
}

.home .site-header:before,
.home .site-footer:before {
    content: none;
}

.home .site-content {
    padding: 0;
    margin: 0;
}

.home .navigation a,
.home .site-footer a {
    transition: opacity .25s;
}

.home .navigation a:hover,
.home .site-footer a:hover {
    color: inherit;
    opacity: .75;
}

.home-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-heading {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 0;
    padding-bottom: 7%;
    background: url(../img/home/w1.png) center / contain no-repeat;
    pointer-events: none;
}

.home-heading h1 {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.flickity-wrapper {
    width: 100%;
    height: 100%;
}

.flickity-item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flickity-button {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    transition: opacity .25s;
}

.flickity-button:hover {
    text-decoration: none;
    border-bottom: 0;
    opacity: .75;
    cursor: pointer;
}

.flickity-button.previous {
    background: transparent url("../img/home/aleft.png") center / contain no-repeat;
    left: 10px;
}

.flickity-button.next {
    background: transparent url("../img/home/aright.png") center / contain no-repeat;
    right: 10px;
}

.flickity-button svg {
    display: none;
}

/* Research
---------------------------------------- */

.research-hero {
    margin-bottom: 40px;
}

.research-part {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #fff;
}

.research-part figcaption {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 15px;
}

.research-part:last-child {
    margin-bottom: 0;
}

.research-part img {
    display: block;
}

/* Member
---------------------------------------- */

.member-header {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.member-item {
    position: relative;
    padding-left: 400px;
    margin-bottom: 60px;
    min-height: 320px;
}

.member-item:last-child {
    margin-bottom: 0;
}

.member-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.member-name {
    font-size: 30px;
    margin-top: 0;
}

.member-role {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #900;
}

.member-education {
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 10px;
}

.member-education li {
    list-style: none;
}

.member-education li:before {
    content: "\2022";
    margin-right: 5px;
}

.member-alumni {
    padding-left: 400px;
}

.member-alumni a {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid;
}

.member-alumni a:hover {
    color: #333;
}

/* Publications
---------------------------------------- */

.pub-heading {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.pub-covers p {
    margin-bottom: 40px;
}

.pub-covers img {
    border: 1px solid #999;
}

.pub-item {
    margin-bottom: 40px;
}

.pub-item:last-child {
    margin-bottom: 0;
}

.pub-title {
    margin-right: 10px;
}

.pub-meta a {
    margin-left: 10px;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

/* Gallery
---------------------------------------- */

.gallery-header {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.gallery-title {
    position: relative;
    margin-bottom: 20px;
}

.gallery-body {
    margin: 0 -10px;
}

.gallery-body:after{
    content: "";
    display: table;
}

.gallery-item {
    float: left;
    width: 33.333333%;
    padding: 10px;
}

@supports (column-count: 3) {

    .gallery-body {
        column-count: 3;
        column-gap: 10px;
        margin: 0;
    }

    .gallery-item {
        display: inline-block;
        float: none;
        width: auto;
        padding: 0;
        margin-bottom: 10px;
    }

}

.decoration {
    position: absolute;
    transform: translate(5%, -50%);
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.snowflake {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M23.4 6.4H25v35.2h-1.6z' fill='%2387ced9'/%3E%3Cpath d='M8.46 32.18L39 14.59l.8 1.38-30.54 17.6z' fill='%2387ced9'/%3E%3Cpath d='M8.25 15.72l.8-1.39 30.49 17.6-.8 1.39z' fill='%2387ced9'/%3E%3Cpath d='M24.2 7.2a.87.87 0 0 1-.45-.13l-2.4-1.6A.81.81 0 0 1 21 4.8V2.4a.81.81 0 0 1 .35-.67l2.4-1.6a.84.84 0 0 1 .89 0L27 1.73a.82.82 0 0 1 .36.67v2.4a.82.82 0 0 1-.36.67l-2.4 1.6a.87.87 0 0 1-.4.13zm-1.6-2.83l1.6 1.07 1.6-1.07V2.83l-1.6-1.07-1.6 1.07zM24.2 48a.87.87 0 0 1-.45-.13l-2.4-1.6a.81.81 0 0 1-.35-.67v-2.4a.81.81 0 0 1 .35-.67l2.4-1.6a.84.84 0 0 1 .89 0l2.4 1.6a.82.82 0 0 1 .36.67v2.4a.82.82 0 0 1-.36.67l-2.4 1.6a.87.87 0 0 1-.44.13zm-1.6-2.83l1.6 1.07 1.6-1.07v-1.54l-1.6-1.07-1.6 1.07z' fill='%23a7e1eb'/%3E%3Cpath d='M24.2 12a.82.82 0 0 1-.52-.18l-4.8-4 1-1.24 4.29 3.58 4.28-3.57 1 1.23-4.8 4a.81.81 0 0 1-.45.18zM28.48 41.42l-4.28-3.58-4.29 3.57-1-1.23 4.8-4a.83.83 0 0 1 1 0l4.8 4zM6.59 37.76a.85.85 0 0 1-.35-.08L3.65 36.4a.8.8 0 0 1-.44-.77l.19-2.88a.76.76 0 0 1 .4-.64l2.08-1.2a.8.8 0 0 1 .75 0l2.59 1.28a.79.79 0 0 1 .44.77l-.19 2.88a.78.78 0 0 1-.4.64L7 37.66a.79.79 0 0 1-.41.1zM4.84 35.2l1.73.85 1.33-.77.1-1.92-1.7-.85-1.3.77zM41.93 17.36a.85.85 0 0 1-.35-.08L39 16a.8.8 0 0 1-.44-.77l.18-2.88a.8.8 0 0 1 .4-.64l2.08-1.2a.82.82 0 0 1 .76 0l2.58 1.28a.8.8 0 0 1 .45.77l-.19 2.88a.83.83 0 0 1-.4.64l-2.08 1.2a.79.79 0 0 1-.41.08zm-1.75-2.56l1.72.85 1.34-.77.12-1.88-1.72-.85-1.34.77z' fill='%23a7e1eb'/%3E%3Cpath d='M12.74 36.77l-1.58-.27.95-5.5-5.23-1.93.55-1.5 5.86 2.16a.81.81 0 0 1 .52.89zM40.78 20.59l-5.87-2.16a.82.82 0 0 1-.51-.89l1.07-6.16 1.57.27-.95 5.5 5.24 1.93zM41.4 37.51a.8.8 0 0 1-.4-.11l-2.08-1.2a.8.8 0 0 1-.4-.64l-.18-2.88a.8.8 0 0 1 .44-.77l2.59-1.28a.8.8 0 0 1 .75 0l2.08 1.2a.83.83 0 0 1 .4.64l.19 2.88a.8.8 0 0 1-.45.77l-2.58 1.28a.74.74 0 0 1-.36.11zM40.09 35l1.34.77 1.73-.77-.16-2-1.33-.78-1.67.89zM6.07 17.11a.8.8 0 0 1-.4-.11l-2.08-1.2a.76.76 0 0 1-.4-.64L3 12.28a.81.81 0 0 1 .45-.77L6 10.23a.82.82 0 0 1 .76 0l2.08 1.2a.83.83 0 0 1 .4.64L9.45 15a.79.79 0 0 1-.44.77L6.42 17a.73.73 0 0 1-.35.11zm-1.31-2.48l1.34.77 1.72-.85-.12-1.92-1.34-.78-1.72.86z' fill='%23a7e1eb'/%3E%3Cpath d='M35.26 36.52l-1.07-6.16a.81.81 0 0 1 .52-.89l5.86-2.16.55 1.5-5.24 1.93 1 5.51zM7.22 20.33l-.55-1.5 5.24-1.92-.91-5.5 1.57-.28 1.07 6.16a.81.81 0 0 1-.51.89z' fill='%23a7e1eb'/%3E%3Cpath d='M16.19 37.6a.8.8 0 0 1-.59-.27.78.78 0 0 1-.2-.62l1-8.54-7.7-3.44a.82.82 0 0 1-.51-.73.8.8 0 0 1 .47-.73l7.91-3.67-.38-8.36a.81.81 0 0 1 1.27-.69l6.74 4.77 6.73-4.77a.79.79 0 0 1 .87 0 .8.8 0 0 1 .4.77l-.78 8.21 8.31 3.78a.8.8 0 0 1 0 1.46l-8.17 3.53.65 8.48a.8.8 0 0 1-.4.76.81.81 0 0 1-.86 0l-6.76-4.79-7.55 4.81a.71.71 0 0 1-.45.04zM10.92 24l6.63 3a.79.79 0 0 1 .47.82l-.84 7.45L23.77 31a.78.78 0 0 1 .89 0l5.81 4.11-.57-7.35a.77.77 0 0 1 .48-.79l7-3-7.15-3.27a.78.78 0 0 1-.46-.8l.66-7-5.78 4.1a.78.78 0 0 1-.92 0l-5.86-4.2.32 7.26a.79.79 0 0 1-.46.77z' fill='%23a7e1eb'/%3E%3C/svg%3E");
}

/* Contact
---------------------------------------- */

.email-address {
    width: 163px;
}

/* Mobile
---------------------------------------- */

@media (max-width: 1023px) {

    body {
        font-size: 16px;
    }

    body:before {
        top: 60px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    .site-header {
        height: 60px;
    }

    .site-header .container {
        display: block;
    }

    .branding {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }

    .branding img {
        width: 120px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 3;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .hamburger:before,
    .hamburger:after {
        content: "";
        display: block;
        position: relative;
        background: #222;
        width: 24px;
        height: 2px;
        margin: 8px auto;
    }

    .home .hamburger:before,
    .home .hamburger:after {
        background: #fff;
    }

    .home .hamburger:before,
    .home .hamburger:after {
        background: #fff;
    }

    .home .hamburger.active:before,
    .home .hamburger.active:after {
        background: #222;
    }

    .hamburger:before {
        margin-top: 14px;
    }

    .hamburger.active:before {
        transform: rotate(45deg);
        top: 4px;
    }

    .hamburger.active:after {
        transform: rotate(-45deg);
        top: -6px;
    }

    .hamburger.active ~ .navigation {
        overflow: auto;
        height: 100%;
        opacity: 1;
        transform: scale(1);
    }

    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        background: #fff;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transform: scale(1.2);
        transition: opacity .25s, transform .25s;
    }

    .navigation ul {
        padding: 60px 0;
    }

    .navigation li {
        font-size: 18px;
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
    }

    .navigation li:last-child {
        border-bottom: 0;
    }

    .navigation a {
        display: block;
        padding: 15px 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        color: #222;
    }

    .site-header .navigation a:hover {
        color: #900;
    }

    .navigation a:after {
        display: none;
    }

    .site-footer {
        height: 60px;
        font-size: 15px;
    }

    .footer-meta {
        display: none;
    }

    .home .site-footer {
        display: none;
    }

    .site-content {
        padding: 90px 0;
    }

    .content-header {
        position: static;
        width: auto;
    }

    .content-body {
        padding-left: 0;
    }

    .home-heading {
        width: 76%;
        padding-bottom: 26%;
        background-image: url(../img/home/w2.png);
    }

    .pub-heading {
        overflow: visible;
        height: auto;
        margin-bottom: 10px;
    }

    .pub-covers {
        display: none;
    }

    .email-address {
        width: 145px;
    }

    .flickity-button {
        display: none;
    }

}

@media (max-width: 767px) {

    .member-header {
        overflow: visible;
        height: auto;
    }

    .member-item {
        padding-left: 0;
        min-height: 0;
        margin-bottom: 50px;
    }

    .member-name {
        font-size: 22px;
    }

    .member-photo {
        position: static;
        width: auto;
        height: auto;
        overflow: auto;
        margin-bottom: 20px;
    }

    .member-alumni {
        padding-left: 0;
    }

    .gallery-header {
        overflow: visible;
        height: auto;
    }

    .decoration {
        width: 32px;
        height: 32px;
    }

    /*
    .gallery-item {
        width: 50%;
    }

    @supports (column-count: 2) {

        .gallery-body {
            column-count: 2;
        }

        .gallery-item {
            width: auto;
        }
    }
    */

}
