/* HTML
---------------------------------------- */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #fff;
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Charter", "Cambria", "Georgia", serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, nav, footer {
    font-family: "Avenir Next", "Candara", "Helvetica Neue", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: inherit;
}

address, blockquote, dd, dl, fieldset,
form, iframe, ol, p, pre, table, ul {
    margin: 0 0 20px;
}

a {
    color: #900;
    text-decoration: none;
    transition: color .25s;
}

a:hover {
    border-bottom: 1px solid;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/* Misc
---------------------------------------- */

.site-header:before,
.site-footer:before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 1px;
    background: #dfdfdf;
    background: rgba(150,150,150,.25);
    background: linear-gradient(to right, rgba(0,0,0,.05) 0%, rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 75%, rgba(0,0,0,.05) 100%);
}

.site-header:before {
    bottom: 0;
}

.site-footer:before {
    top: 0;
}

/*.site-content {
    animation: fadeInUp .5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,20vh,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}*/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.site-header .container,
.site-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.site-content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.content-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
}

.content-body {
    padding-left: 400px;
    margin-bottom: 40px;
}

.content-body {
    min-height: 500px;
}

.site-content:before,
.site-content:after{
    content: "";
    display: table;
}

.site-content:after {
    clear: both;
}

.site-footer {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.no-scroll {
    overflow: hidden;
}

/* Header
---------------------------------------- */

.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 80px;
    background: #fff;
}

.branding img {
    width: 148px;
}

.branding a:hover {
    border-bottom: 0;
}

.navigation {
    font-size: 17px;
    text-align: right;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 10px;
}

.navigation a {
    display: block;
    padding: 10px;
    color: inherit;
}

.navigation a:hover,
.navigation .current {
    border-bottom: 0;
    color: #900;
}

.navigation-checkbox,
.hamburger {
    display: none;
}

/* Footer
---------------------------------------- */

.site-footer {
    font-size: 16px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
}

.site-footer ul {
    padding: 0;
    margin: 0;
}

.site-footer li {
    list-style: none;
    display: inline-block;
}

.footer-meta li:not(:last-child):after {
    content: "\2022";
    padding-left: 6px;
    padding-right: 2px;
    font-size: 12px;
    color: #ccc;
}

.site-footer a {
    color: inherit;
}

.site-footer a:hover {
    border-bottom: 0;
    color: #900;
}

/* Home
---------------------------------------- */

.home .site-header,
.home .site-content,
.home .site-footer {
    background: transparent;
    color: #fff;
}

.home .site-header:before,
.home .site-footer:before {
    content: none;
}

.home .site-content {
    margin: 0;
}

.home .navigation a,
.home .site-footer a {
    transition: opacity .25s;
}

.home .navigation a:hover,
.home .site-footer a:hover {
    color: inherit;
    opacity: .75;
}

.home-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-heading {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 0;
    padding-bottom: 7%;
    background: url(../img/home/w1.png) center / contain no-repeat;
}

.home-heading h1 {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.home-slider {
    width: 100%;
    height: 100%;
}

.home-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bx-wrapper,
.bx-viewport {
    height: 100%;
}

.bx-controls {
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 0;
}

.bx-prev,
.bx-next {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    transition: opacity .25s;
}

.bx-prev:hover,
.bx-next:hover {
    text-decoration: none;
    border-bottom: 0;
    opacity: .75;
}

.bx-prev {
    background-image: url("../img/home/aleft.png");
    left: 10px;
}

.bx-next {
    background-image: url("../img/home/aright.png");
    right: 10px;
}

/* Member
---------------------------------------- */

.member-header {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.member-item {
    position: relative;
    padding-left: 400px;
    margin-bottom: 60px;
    min-height: 320px;
}

.member-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
}

.member-photo {
    height: 320px;
    overflow: hidden;
}

.member-name {
    font-size: 30px;
    margin-top: 0;
}

.member-role {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #900;
}

.member-education {
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 10px;
}

.member-education li {
    list-style: none;
}

.member-education li:before {
    content: "\2022";
    margin-right: 5px;
}

.member-alumni {
    text-align: center;
}

.member-alumni a {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid;
}

.member-alumni a:hover {
    color: #333;
}

/* Publications
---------------------------------------- */

.pub-heading {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.pub-covers p {
    margin-bottom: 40px;
}

.pub-covers img {
    border: 1px solid #999;
}

.pub-item {
    margin-bottom: 40px;
}

.pub-title {
    margin-right: 10px;
}

.pub-meta a {
    margin-left: 10px;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

/* Contact
---------------------------------------- */

.email-address {
    width: 163px;
}

/* Mobile
---------------------------------------- */

@media (max-width: 1023px) {

    body {
        font-size: 16px;
    }

    body:before {
        top: 60px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    .site-header {
        height: 60px;
    }

    .site-header .container {
        display: block;
    }

    .branding {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }

    .branding img {
        width: 120px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 3;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .hamburger:before,
    .hamburger:after {
        content: "";
        display: block;
        position: relative;
        background: #222;
        width: 24px;
        height: 2px;
        margin: 8px auto;
    }

    .home .hamburger:before,
    .home .hamburger:after {
        background: #fff;
    }

    .home .hamburger:before,
    .home .hamburger:after {
        background: #fff;
    }

    .home .hamburger.active:before,
    .home .hamburger.active:after {
        background: #222;
    }

    .hamburger:before {
        margin-top: 14px;
    }

    .hamburger.active:before {
        transform: rotate(45deg);
        top: 4px;
    }

    .hamburger.active:after {
        transform: rotate(-45deg);
        top: -6px;
    }

    .hamburger.active ~ .navigation {
        height: 100%;
        overflow: auto;
        opacity: 1;
    }

    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        background: #fff;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: opacity .25s;
    }

    .navigation ul {
        padding: 40px 0;
        margin: 0 auto;
        width: 80%;
    }

    .navigation li {
        font-size: 18px;
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #dadada;
    }

    .navigation li:last-child {
        border-bottom: 0;
    }

    .navigation a {
        padding: 16px 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        color: #222;
    }

    .site-header .navigation a:hover {
        color: #900;
    }

    .navigation a:after {
        display: none;
    }

    .site-footer {
        height: 60px;
        font-size: 15px;
    }

    .footer-meta {
        display: none;
    }

    .home .site-footer {
        display: none;
    }

    .site-content {
        margin-top: 90px;
        margin-bottom: 100px;
    }

    .content-header {
        position: static;
        width: auto;
    }

    .content-body {
        padding-left: 0;
        min-height: 0;
    }

    .home-heading {
        width: 76%;
        padding-bottom: 26%;
        background-image: url(../img/home/w2.png);
    }

    .member-header {
        overflow: visible;
        height: auto;
    }

    .member-item {
        padding-left: 0;
        min-height: 0;
        margin-bottom: 40px;
    }

    .member-name {
        font-size: 22px;
    }

    .member-photo {
        position: static;
        width: auto;
        height: auto;
        overflow: auto;
        margin-bottom: 20px;
    }

    .pub-heading {
        overflow: visible;
        height: auto;
        margin-bottom: 10px;
    }

    .pub-covers {
        display: none;
    }

    .email-address {
        width: 145px;
    }

    .bx-prev,
    .bx-next {
        display: none;
    }

}
